@{ 
    Layout = "_LayoutSlika";
    ViewData["Title"] = "Galerija";
}
@{
    Slika slikaa = ViewBag.slika;
    IList<Slika> slikee = ViewBag.slike;
    int brr = ViewBag.br;
}
<form method="post" enctype="multipart/form-data">
    <div id="cboxLoadedContent" style="overflow: auto;">
        <img src="data:image/png;base64, @slikaa.Putanja" style="margin-top: 0px; cursor: pointer; float: none; max-height:800px; max-width:900px; height:700px; width:800px;">
    </div>
</form>