@{ 
    Layout = "_LayoutSlika";
    ViewData["Title"] = "Galerija";
}
@{
    Slika slikaa = ViewBag.slika;
    IList<Slika> slikee = ViewBag.slike;
    int brr = ViewBag.br;
}
<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div id="cboxLoadedContent" style="overflow:initial; " >
            <img src="data:image/png;base64, @slikaa.Putanja" class="mfp-img" style="margin-top: 0px; cursor: pointer; float: none; background-size:contain; background-repeat:no-repeat; max-height:800px;">
        </div>
    </div>
</form>