<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Constra - Construction Html5 Template</title>

        <!-- Mobile Specific Metas
        ================================================== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Construction Html5 Template">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

        <!-- Favicon
        ================================================== -->
        <link rel="icon" type="image/png" href="images/favicon.png">

        <!-- CSS
        ================================================== -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">
        <!-- Animation -->
        <link rel="stylesheet" href="plugins/animate-css/animate.css">
        <!-- slick Carousel -->
        <link rel="stylesheet" href="plugins/slick/slick.css">
        <link rel="stylesheet" href="plugins/slick/slick-theme.css">
        <!-- Colorbox -->
        <link rel="stylesheet" href="plugins/colorbox/colorbox.css">
        <!-- Template styles-->
        <link rel="stylesheet" href="css/style.css">

        <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/11/intl/sr_ALL/common.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/11/intl/sr_ALL/util.js"></script>
    </head>
    <body>
        @{
            Slika slikaa = ViewBag.slika;
            IList<Slika> slikee = ViewBag.slike;
            int brr = ViewBag.br;
        }
        
            <!-- Javascript Files
        ================================================== -->
            <!-- initialize jQuery Library -->
            <script src="plugins/jQuery/jquery.min.js"></script>
            <!-- Bootstrap jQuery -->
            <script src="plugins/bootstrap/bootstrap.min.js" defer=""></script>
            <!-- Slick Carousel -->
            <script src="plugins/slick/slick.min.js"></script>
            <script src="plugins/slick/slick-animation.min.js"></script>
            <!-- Color box -->
            <script src="plugins/colorbox/jquery.colorbox.js"></script>
            <!-- shuffle -->
            <script src="plugins/shuffle/shuffle.min.js" defer=""></script>


            <!-- Google Map API Key-->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer=""></script>
            <!-- Google Map Plugin-->
            <script src="plugins/google-map/map.js" defer=""></script>

            <!-- Template custom -->
            <script src="js/script.js"></script>

        </div><!-- Body inner end -->


        <div id="cboxOverlay" style="opacity: 0.9; cursor: pointer; visibility: visible;"></div>
        <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: block; visibility: visible; top: 2651.82px; left: 201px; position: absolute; width: 625px; height: 520px;">
            <div id="cboxWrapper" style="height: 520px; width: 625px;">
                <div>
                    <div id="cboxTopLeft" style="float: left;"></div>
                    <div id="cboxTopCenter" style="float: left; width: 625px;"></div>
                    <div id="cboxTopRight" style="float: left;"></div>
                </div>
                <div style="clear: left;">
                    <div id="cboxMiddleLeft" style="float: left; height: 500px;"></div>
                    <div id="cboxContent" style="float: left; width: 625px; height: 500px;">
                        <div id="cboxLoadedContent" style="width: 625px; overflow: auto; height: 500px;">
                            <img class="kom" src="data:image/png;base64, @slikaa.Putanja" style="margin-top: 0px; cursor: pointer; width: 625px; height: 500px; float: none;" width="625" height="500">
                           
                        </div>
                        <div id="cboxTitle" style="float: left;"></div>
                        <div id="cboxCurrent" style="float: left;">image 1 of @brr</div>
                    <button type="button" id="cboxPrevious" style="">previous</button>
                        <button type="button" id="cboxNext" style="">next</button>
                        <button type="button" id="cboxSlideshow" style="display: none;"></button>
                        <div id="cboxLoadingOverlay" style="float: left; display: none;"></div>
                        <div id="cboxLoadingGraphic" style="float: left; display: none;"></div>
                        <button type="button" id="cboxClose" asp-controller="Home" asp-action="Galerija">close</button>
                    </div><div id="cboxMiddleRight" style="float: left; height: 500px;">
                    </div>
                </div>
                <div style="clear: left;">
                    <div id="cboxBottomLeft" style="float: left;"></div>
                    <div id="cboxBottomCenter" style="float: left; width: 625px;"></div>
                    <div id="cboxBottomRight" style="float: left;"></div>
                </div>
            </div>
            <div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
        </div>
    </body>
</html>