@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Kontakt";
}
@{
    Kontakt kontakt = ViewBag.kontakt;
}
<div class="body-inner">
    <div class="banner-carousel banner-carousel-2 mb-0">
        <div class="banner-area" style="        background-image: url(../images/Images/Heavy.jpg)">
            <div class="banner-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-heading">
                                <div class="box-slider-text">
                                    <h1 class="banner-title">Kontakt</h1>
                                </div>
                            </div>
                        </div><!-- Col end -->
                    </div><!-- Row end -->
                </div><!-- Container end -->
            </div><!-- Banner text end -->
        </div>
    </div>
    <div style="width: 100%; background-color:black; height: 2px;"></div>


    <section id="facts" class="facts-area dark-bg">
        <div class="container">
            <div class="facts-wrapper">
                <div class="row">

                    <div class="col-sm-3 col-md-5 ts-facts mt-5 mt-sm-0">
                        <div class="fas">
                            @if (kontakt.Napomena != null)
                            {
                                <div class="container">
                                    <div class="row">
                                        <div class="text-warning">
                                            @kontakt.Napomena
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                        <div class="ts-facts-content" style="margin-top:30px;">

                            <p><i class="fas fa-envelope-square"> </i> @kontakt.Email </p>
                            <p><i class="fas fa-mobile-alt"> </i> @kontakt.MobilniBr </p>
                            <p><i class="fas fa-phone-square-alt"></i> @kontakt.FiksniBr </p>
                            <p><i class="fas fa-map-marker-alt"></i> Srpskih Vladara 54 Stubica, Paraćin</p>
                            <p><i class="fas fa-business-time"></i> Pon-Pet 08:00 - 17:00h</p>
                            <p> Sub 08:00 - 14:00h</p>
                        </div>
                    </div><!-- Col end -->

                    <div class="col-md-7 col-sm-9 ts-facts mt-5 mt-md-0">
                        <div class="ts-facts-content">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2158.430376284576!2d21.493706214675882!3d43.940340441834834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4756bbc4cbeeb6dd%3A0xc6811ccbf734bd0e!2sSrpskih%20vladara%2C%20Stubica!3m2!1d43.940336599999995!2d21.4958949!5e1!3m2!1ssr!2srs!4v1639260788760!5m2!1ssr!2srs" width="330" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div><!-- Col end -->



                </div> <!-- Facts end -->
            </div>
            <!--/ Content row end -->
        </div>
        <!--/ Container end -->

    </section><!-- Facts end -->

</div>
<div style="width: 100%; background-color:black; height: 2px;"></div>
