@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "O nama";
}

<div class="banner-carousel banner-carousel-2 mb-0">
    <div class="banner-area" style="        background-image: url(../images/Images/Best-53-Caterpillar-Wallpaper-on-HipWallpaper-Caterpillar-.jpg)">
        <div class="banner-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-heading">
                            <div class="box-slider-text">
                                <h1 class="banner-title">O nama</h1>
                            </div>
                        </div>
                    </div><!-- Col end -->
                </div><!-- Row end -->
            </div><!-- Container end -->
        </div><!-- Banner text end -->
    </div>
</div>
<div style="width: 100%; background-color:black; height: 2px;"></div>

<div class="gap-60"></div>
<div class="flex-fill container" style="font-size:18px; color: black; font-style:oblique;">
    Hidromil se bavi odrzavanjem, servisiranjem, popravkom i remontom gradjevinskih masina,
    pretezno po pitanju hidraulicnih sistema, višegodišnje iskustvo i visoka strucna sprema
    daju vrlo dobre rezultate po pitanju pronalazenja problema u hidraulicnim sistemima,
    pronalazenju zamenskih resenja, kao i u konstruisanju novih sistema.
</div>
<div class="gap-60"></div>
<div style="width: 100%; background-color:black; height: 2px;"></div>
