@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "O nama";
}

<div class="banner-carousel banner-carousel-2 mb-0">
    <div class="banner-area" style="        background-image: url(../images/Images/Best-53-Caterpillar-Wallpaper-on-HipWallpaper-Caterpillar-.jpg)">
        <div class="slider-content text-left">
            <div class="container">
            </div>
        </div>
    </div>
</div>
<div class="gap-60"></div>
<div class="flex-fill container" style="font-size:18px; color: black; font-style:oblique;">
    Hidromil se bavi odrzavanjem, servisiranjem, popravkom i remontom gradjevinskih masina,
    pretezno po pitanju hidraulicnih sistema, višegodišnje iskustvo i visoka strucna sprema
    daju vrlo dobre rezultate po pitanju pronalazenja problema u hidraulicnim sistemima,
    pronalazenju zamenskih resenja, kao i u konstruisanju novih sistema.
</div>
<div class="gap-60"></div>