@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Usluge";
}

<div class="banner-carousel banner-carousel-2 mb-0">
    <div class="banner-area" style="        background-image: url(../images/Images/5.jpg)">
        <div class="slider-content text-left">
            <div class="container">
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />