@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Usluge";
}

<div class="banner-carousel banner-carousel-2 mb-0">
    <div class="banner-area" style="        background-image: url(../images/Images/5.jpg)">
        
            <div class="banner-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-heading">
                                <div class="box-slider-text">
                                    <h1 class="banner-title">Usluge</h1>

                                </div>
                            </div><!-- Col end -->
                    </div><!-- Row end -->
                </div><!-- Container end -->
            </div><!-- Banner text end -->
        </div>
    </div>
</div>
<br />
<br />
<br />